[submodule "emacs.d/elisp/use-package"]
	path = emacs.d/elisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "emacs.d/elisp/undo-tree"]
	path = emacs.d/elisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "emacs.d/elisp/ace-jump-mode"]
	path = emacs.d/elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/elisp/company-mode"]
	path = emacs.d/elisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "emacs.d/elisp/exec-path-from-shell"]
	path = emacs.d/elisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "emacs.d/elisp/helm"]
	path = emacs.d/elisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "emacs.d/elisp/helm-swoop"]
	path = emacs.d/elisp/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop.git
[submodule "emacs.d/elisp/helm-projectile"]
	path = emacs.d/elisp/helm-projectile
	url = https://github.com/bbatsov/helm-projectile.git
[submodule "emacs.d/elisp/magit"]
	path = emacs.d/elisp/magit
	url = https://github.com/magit/magit.git
[submodule "emacs.d/elisp/magit-popup"]
	path = emacs.d/elisp/magit-popup
	url = https://github.com/magit/magit-popup.git
[submodule "emacs.d/elisp/org-projectile"]
	path = emacs.d/elisp/org-projectile
	url = https://github.com/IvanMalison/org-projectile.git
[submodule "emacs.d/elisp/org-bullets"]
	path = emacs.d/elisp/org-bullets
	url = https://github.com/sabof/org-bullets.git
[submodule "emacs.d/elisp/emacs-neotree"]
	path = emacs.d/elisp/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "emacs.d/elisp/multiple-cursors.el"]
	path = emacs.d/elisp/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "emacs.d/elisp/page-break-lines"]
	path = emacs.d/elisp/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "emacs.d/elisp/projectile"]
	path = emacs.d/elisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "emacs.d/elisp/smartparens"]
	path = emacs.d/elisp/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "emacs.d/elisp/smex"]
	path = emacs.d/elisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "emacs.d/elisp/emacs-which-key"]
	path = emacs.d/elisp/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "emacs.d/elisp/Emacs-wgrep"]
	path = emacs.d/elisp/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "emacs.d/elisp/yasnippet"]
	path = emacs.d/elisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacs.d/elisp/zygospore.el"]
	path = emacs.d/elisp/zygospore
	url = https://github.com/LouisKottmann/zygospore.el.git
[submodule "emacs.d/elisp/clean-aindent-mode"]
	path = emacs.d/elisp/clean-aindent-mode
	url = https://github.com/pmarinov/clean-aindent-mode.git
[submodule "emacs.d/elisp/dtrt-indent"]
	path = emacs.d/elisp/dtrt-indent
	url = https://github.com/jscheid/dtrt-indent.git
[submodule "emacs.d/elisp/ws-butler"]
	path = emacs.d/elisp/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "emacs.d/elisp/comment-dwim-2"]
	path = emacs.d/elisp/comment-dwim-2
	url = https://github.com/remyferre/comment-dwim-2.git
[submodule "emacs.d/elisp/emacs-anzu"]
	path = emacs.d/elisp/emacs-anzu
	url = https://github.com/syohex/emacs-anzu.git
[submodule "emacs.d/elisp/iedit"]
	path = emacs.d/elisp/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "emacs.d/elisp/prelude"]
	path = emacs.d/elisp/prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "emacs.d/elisp/pdf-tools"]
	path = emacs.d/elisp/pdf-tools
	url = https://github.com/politza/pdf-tools.git
[submodule "emacs.d/elisp/flycheck"]
	path = emacs.d/elisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "emacs.d/elisp/ac-php"]
	path = emacs.d/elisp/ac-php
	url = https://github.com/xcwen/ac-php.git
[submodule "emacs.d/elisp/alchemist.el"]
	path = emacs.d/elisp/alchemist
	url = https://github.com/tonini/alchemist.el.git
[submodule "emacs.d/elisp/anaconda-mode"]
	path = emacs.d/elisp/anaconda-mode
	url = https://github.com/proofit404/anaconda-mode.git
[submodule "emacs.d/elisp/emacs-async"]
	path = emacs.d/elisp/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "emacs.d/elisp/auto-complete"]
	path = emacs.d/elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "emacs.d/elisp/emacs-cmake-project"]
	path = emacs.d/elisp/emacs-cmake-project
	url = https://github.com/alamaison/emacs-cmake-project.git
[submodule "emacs.d/elisp/cmake-ide"]
	path = emacs.d/elisp/cmake-ide
	url = https://github.com/atilaneves/cmake-ide.git
[submodule "emacs.d/elisp/company-c-headers"]
	path = emacs.d/elisp/company-c-headers
	url = https://github.com/randomphrase/company-c-headers.git
[submodule "emacs.d/elisp/company-tern"]
	path = emacs.d/elisp/company-tern
	url = https://github.com/proofit404/company-tern.git
[submodule "emacs.d/elisp/dash.el"]
	path = emacs.d/elisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "emacs.d/elisp/emacs-elixir"]
	path = emacs.d/elisp/emacs-elixir
	url = https://github.com/elixir-editors/emacs-elixir.git
[submodule "emacs.d/elisp/zenburn-emacs"]
	path = emacs.d/elisp/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "emacs.d/elisp/semantic-refactor"]
	path = emacs.d/elisp/semantic-refactor
	url = https://github.com/tuhdo/semantic-refactor.git
[submodule "emacs.d/elisp/emacs-helm-gtags"]
	path = emacs.d/elisp/emacs-helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "emacs.d/elisp/pythonic"]
	path = emacs.d/elisp/pythonic
	url = https://github.com/proofit404/pythonic.git
[submodule "emacs.d/elisp/f.el"]
	path = emacs.d/elisp/fel
	url = https://github.com/rejeep/f.el.git
[submodule "alchemist"]
	path = emacs.d/elisp/alchemist
	url = ./emacs.d/elisp/alchemist/
[submodule "emacs.d/elisp/zygospore"]
	path = emacs.d/elisp/zygospore
	url = https://github.com/LouisKottmann/zygospore.el.git
[submodule "emacs.d/elisp/alchemist"]
	path = emacs.d/elisp/alchemist
	url = https://github.com/tonini/alchemist.el.git
[submodule "emacs.d/elisp/dash"]
	path = emacs.d/elisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "emacs.d/elisp/fel"]
	path = emacs.d/elisp/fel
	url = https://github.com/rejeep/f.el.git
[submodule "emacs.d/elisp/multiple-cursors"]
	path = emacs.d/elisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "emacs.d/elisp/julia-emacs"]
	path = emacs.d/elisp/julia-emacs
	url = https://github.com/JuliaEditorSupport/julia-emacs.git
